@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Ubuntu&display=swap');

:root{
    --bg-color : #749F82;
    --second-color : #CFFF8D;
    --neutral-color : rgb(216, 216, 216);
    --black-neutral : rgb(44, 44, 44);
    font-family: 'Ubuntu', sans-serif;
}

*{
    padding:0;
    margin:0;
}

.container{
    background-color:var(--bg-color);
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card-wrapper{
    width:50em;
    height:30em;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background-image: linear-gradient(0deg, rgb(243, 241, 241) 80%, rgb(221, 219, 219) 20%);
    width:45%;
    height:100%;
    border-radius: 20px;
    box-shadow: 7px 5px 20px -2px rgb(75, 75, 75);
    display: flex;
    justify-content:center;
    align-items:center;
}

.item{
    width:90%;
    height:80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title{
    color: var(--black-neutral);
    justify-content:center;
}

.user-input{
    height:70%;
}

.user-input form{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-top: 50px;
    height:100%;
}

form label{
    padding: 10px;
}

form input{
    padding: 10px;
    border-radius: 5px;
    width:80%;
    border: none;
}

button{
    background-color: green;
    color: var(--neutral-color);
    font-weight: bold;
    border:none;
    height:8%;
    width:100%;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(0, 84, 117);
    transition: ease-in-out 1ms;
}

#result{
    height: 20px;
    padding: 5px;
}
